Repository pleaseai/eslint: changes, and which Codecov flags are due for each by the changed paths.
All: CLI Core, ESLint Processing, Rule Mappings, Agent Factory, CLI Commands

chore: add turbo.json for monorepo task configuration
  turbo.json
Due: none

ci: add Vercel Remote Cache for Turborepo
  .github/workflows/ci.yml
Due: none

fix(ci): use secrets for TURBO_TEAM instead of vars
  .github/workflows/ci.yml
Due: none

style: fix yaml quote style in codecov.yml
  codecov.yml
Due: none

ci: disable turbo telemetry
  .github/workflows/ci.yml
Due: none

ci: add GitHub Actions workflow and Codecov integration (#1)
  .claude/CLAUDE.md
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
  .gitignore
  .gitmodules
  .release-please-manifest.json
  bun.lock
  codecov.yml
  eslint.config.mjs
  package.json
  packages/cli/__tests__/agents.test.ts
  packages/cli/__tests__/generator.test.ts
  packages/cli/__tests__/loader.test.ts
  packages/cli/__tests__/mappings.test.ts
  packages/cli/__tests__/parser.test.ts
  packages/cli/eslint.config.mjs
  packages/cli/package.json
  packages/cli/src/agents/generator.ts
  packages/cli/src/agents/index.ts
  packages/cli/src/agents/rules.ts
  packages/cli/src/commands/check.ts
  packages/cli/src/commands/preview.ts
  packages/cli/src/consts/options.ts
  packages/cli/src/consts/rules.ts
  packages/cli/src/eslint/loader.ts
  packages/cli/src/eslint/parser.ts
  packages/cli/src/eslint/types.ts
  packages/cli/src/generate.ts
  packages/cli/src/index.ts
  packages/cli/src/initialize.ts
  packages/cli/src/mappings/core.ts
  packages/cli/src/mappings/index.ts
  packages/cli/src/mappings/react.ts
  packages/cli/src/mappings/typescript.ts
  packages/cli/src/utils.ts
  packages/cli/tsconfig.json
  packages/cli/tsup.config.ts
  release-please-config.json
  turbo.json
Due: CLI Core, ESLint Processing, Rule Mappings, Agent Factory, CLI Commands

docs: add README and improve CLAUDE.md with project guidance
  .claude/CLAUDE.md
  .gitignore
  README.md
Due: none

style: fix formatting in CLAUDE.md
  .claude/CLAUDE.md
Due: none

chore: add husky and lint-staged for pre-commit linting
  .husky/pre-commit
  bun.lock
  package.json
Due: none

fix: add bun to PATH in pre-commit hook for GUI environments
  .cursor/rules/eslint-rules.mdc
  .husky/pre-commit
Due: none

refactor: simplify pre-commit hook, rely on global husky init
  .husky/pre-commit
Due: none

docs: add git hooks setup guide for GUI environments
  README.md
Due: none

refactor: move test files from __tests__ to test directory
  packages/cli/test/agents.test.ts
  packages/cli/test/generator.test.ts
  packages/cli/test/loader.test.ts
  packages/cli/test/mappings.test.ts
  packages/cli/test/parser.test.ts
Due: none

feat(claude): extract file patterns from ESLint config for modular rules
  packages/cli/src/agents/index.ts
  packages/cli/src/consts/rules.ts
  packages/cli/src/eslint/loader.ts
  packages/cli/src/eslint/types.ts
  packages/cli/src/generate.ts
  packages/cli/test/agents.test.ts
  packages/cli/test/loader.test.ts
Due: CLI Core, ESLint Processing, Agent Factory

feat(claude): extract file patterns from ESLint config for modular rules (#2)
  packages/cli/__tests__/loader.test.ts
  packages/cli/src/agents/index.ts
  packages/cli/src/consts/rules.ts
  packages/cli/src/eslint/loader.ts
  packages/cli/src/eslint/types.ts
  packages/cli/src/generate.ts
  packages/cli/test/agents.test.ts
  packages/cli/test/generator.test.ts
  packages/cli/test/loader.test.ts
  packages/cli/test/mappings.test.ts
  packages/cli/test/parser.test.ts
Due: CLI Core, ESLint Processing, Agent Factory

Path conditions:
  CLI Core: any of: packages/cli/src/index.ts, packages/cli/src/initialize.ts, packages/cli/src/generate.ts, packages/cli/src/utils.ts, but not: **/*.test.ts, **/__tests__/**, **/dist/**, **/node_modules/**
  ESLint Processing: any of: packages/cli/src/eslint/**, but not: **/*.test.ts, **/__tests__/**, **/dist/**, **/node_modules/**
  Rule Mappings: any of: packages/cli/src/mappings/**, but not: **/*.test.ts, **/__tests__/**, **/dist/**, **/node_modules/**
  Agent Factory: any of: packages/cli/src/agents/**, but not: **/*.test.ts, **/__tests__/**, **/dist/**, **/node_modules/**
  CLI Commands: any of: packages/cli/src/commands/**, but not: **/*.test.ts, **/__tests__/**, **/dist/**, **/node_modules/**
